dict:
    1.indexing
    2.ordered
    3. muitable
    4. note no any operation will 
    take place like +,/,*,- etc
    5. no searching in dict.we do usally in list
    6. for deleting use del, pop
    7.only we are doing a key and value making

In [6]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
print(d)
print(d['a'])#note put a key word only:
print(len(d))

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
Apple
3

# this below code print only key . it did not print value

In [8]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
for i in d:
    print(i,end = " ") # p

a b c

# if you are only printing a value below code is used:-

In [9]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
for i in d.values():
    print(i, end = " ")

Apple Ball Cat

# how to print whole dict, keys and value same :

In [10]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
for i in d.items():
    print(i, end = " ")# note belwo output is in tuple type

('a', 'Apple') ('b', 'Ball') ('c', 'Cat')

converting the value of list insde into dic where only two element should be there

In [11]:
a = [['a', 'Apple'],['b', 'Ball'],['c', 'Cat']] #list inside list
dict(a)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [13]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
list(a)# only keys were listed so some time it does not change

['a', 'b', 'c']

# by adding below code we can change into

In [14]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
list(a.items())

[('a', 'Apple'), ('b', 'Ball'), ('c', 'Cat')]

In [15]:
c =[('a', 'Apple'), ('b', 'Ball'), ('c', 'Cat')]
type(c)

list

# ceate a dict.

In [16]:
# create
# d = dict()
d = {}# note emtpy dict. create
d['a'] = 'Apple' # note we have to input key and value by 
d['b'] = 'Ball'
d['c'] = 'cat'
d['d'] = 'Dog'
d
# l = list()
# d = dict()

{'a': 'Apple', 'b': 'Ball', 'c': 'cat', 'd': 'Dog'}

note we have to put key and value at the same order to print dict.

# note if we are adding the value in dict. key should be unique , if not then value will be update :which are shown below:

In [17]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'cat', 'd': 'Dog'}
a['a'] = 'Ant'
a #note before a = apple now a= ant

{'a': 'Ant', 'b': 'Ball', 'c': 'cat', 'd': 'Dog'}

# deleting value in dict{}
note while using pop we can store value in another variable

In [18]:
# using del(), pop()
a = {'a': 'Apple', 'b': 'Ball', 'c': 'cat', 'd': 'Dog'}
del a['d']
print(a)

{'a': 'Apple', 'b': 'Ball', 'c': 'cat'}

In [19]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'cat', 'd': 'Dog'}
b = a.pop('d')
print(a)
print(b)

{'a': 'Apple', 'b': 'Ball', 'c': 'cat'}
Dog

# simple WAP for creating a dict{}

In [1]:
d = {}
n = int(input('Enter n = '))
for i in range(n):
    name = input('Enter name = ')
    phone = input("Enter phone = ")
    d[phone] = name #note we are keeping phone are key . since name can be duplicate . so we know that key should be unique
    
    
print(d)

Enter n = 2
Enter name = Ram
Enter phone = 98017364835
Enter name = Shyam
Enter phone = 9817364835
{'98017364835': 'Ram', '9817364835': 'Shyam'}

In [2]:
d = {}
n = int(input('Enter n = '))
for i in range(n):
    name = input('Enter name = ')
    phone = input("Enter phone = ")
    d[name] = phone #note we are keeping phone are key . since name can be duplicate . so we know that key should be unique
    
    
print(d)

Enter n = 2
Enter name = Ram
Enter phone = 9817364835
Enter name = Shyam
Enter phone = 9817264835
{'Ram': '9817364835', 'Shyam': '9817264835'}

# List inside Dict{}

#note if key has two or more value then we have to use list inside dict{}, as show below

In [3]:
# list inside dict
d = {'Ram': [9843667654,9808778765], 'Shyam': [9843556543,9808778765]}
print(d)

{'Ram': [9843667654, 9808778765], 'Shyam': [9843556543, 9808778765]}

In [6]:
print(d['Ram'])

print(d['Ram'][0])# this above code are used to read the

[9843667654, 9808778765]
9843667654

# create a list inside dict{} from user

In [7]:
d = {}
n = int(input('Enter n = '))
for i in range(n):
    name = input('Enter name = ')
    ntc_phone = int(input("Enter ntc no = "))
    ncell_phone = int(input("Enter ncell no = "))
    d[name] = [ntc_phone,ncell_phone]
    
print(d)

Enter n = 1
Enter name = Ram
Enter ntc no = 984264835
Enter ncell no = 9817364835
{'Ram': [984264835, 9817364835]}

# creating the data of same name person and other in list inside dict{}

In [ ]:
d = {'name':['Ram','Shyam','Ram'],
    'ntc_phone':[9856556543,9834334321,9845445321],
    'ncell_phone':[9808778765,9808445432,9808556543]}
d

# WAP to create where same name person can be store in program like above data. d data
# below is immportant code in real world

In [8]:
d = {'name':[],
    'ntc_phone':[],
    'ncell_phone':[]}
n = int(input("Enter n = "))
for i in range(n):
    name = input('Enter name = ')
    ntc_phone = int(input("Enter ntc no = "))
    ncell_phone = int(input("Enter ncell no = "))
    d['name'].append(name)
    d['ntc_phone'].append(ntc_phone)
    d['ncell_phone'].append(ncell_phone)
    
print(d)

Enter n = 2
Enter name = Ram
Enter ntc no = 984164835
Enter ncell no = 9817364835
Enter name = Ram
Enter ntc no = 984275891
Enter ncell no = 980176865
{'name': ['Ram', 'Ram'], 'ntc_phone': [984164835, 984275891], 'ncell_phone': [9817364835, 980176865]}

In [10]:
d = {'name':[],
    'ntc_phone':[],
    'ncell_phone':[]}
n = int(input("Enter n = "))
for i in range(n):
    name = input('Enter name = ')
    ntc_phone = int(input("Enter ntc no = "))
    ncell_phone = int(input("Enter ncell no = "))
    d['name'].append(name)
    d['ntc_phone'].append(ntc_phone)
    d['ncell_phone'].append(ncell_phone)
    
print(d)

Enter n = 2
Enter name = Ram
Enter ntc no = 98410758
Enter ncell no = 9817364835
Enter name = Shyam
Enter ntc no = 984256879
Enter ncell no = 980321457
{'name': ['Ram ', 'Shyam'], 'ntc_phone': [98410758, 984256879], 'ncell_phone': [9817364835, 980321457]}

#  if we need a ram data "ntc nbr, ncell nbr" which are shown below

In [11]:
print(d['name'][0],d['ntc_phone'][0],d['ncell_phone'][0])

Ram  98410758 9817364835

# dict inside list

In [12]:
#dict inside list
d = [{'name':'Ram','age':34,'add':'Kathmandu'},
    {'name':'Shyam','age':44,'add':'Bhaktapur'},
    {'name':'Hari','age':54,'add':'Lalitpur'}]
d #note data type is list since [] is outside

[{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'},
 {'name': 'Shyam', 'age': 44, 'add': 'Bhaktapur'},
 {'name': 'Hari', 'age': 54, 'add': 'Lalitpur'}]

In [13]:
d[2]

{'name': 'Hari', 'age': 54, 'add': 'Lalitpur'}

# how to create dict inside list:

In [15]:
d = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input('Enter age = '))
    add = input("Enter add = ")
    x = {'name': name, 'age': age, 'add': add}
    d.append(x)
    
print(d) 
print(d[1])# note

Enter n = 2
Enter name = ram
Enter age = 34
Enter add = kathmandu
Enter name = Shyam
Enter age = 35
Enter add = lalitpur
[{'name': 'ram', 'age': 34, 'add': 'kathmandu'}, {'name': 'Shyam', 'age': 35, 'add': 'lalitpur'}]
{'name': 'Shyam', 'age': 35, 'add': 'lalitpur'}

# # dict inside dict

In [17]:
d = {1:{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'},
     2:{'name': 'Shyam', 'age': 44, 'add': 'Bhaktapur'},
     3:{'name': 'Hari', 'age': 54, 'add': 'Lalitpur'}}
print(type(d))
d

<class 'dict'>

{1: {'name': 'Ram', 'age': 34, 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': 44, 'add': 'Bhaktapur'},
 3: {'name': 'Hari', 'age': 54, 'add': 'Lalitpur'}}

In [18]:
print(d[1])

{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}

# how to create dict inside dict{} from user input

In [19]:
d = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input('Enter age = '))
    add = input("Enter add = ")
    x = {'name': name, 'age': age, 'add': add}
    d[i] = x
    
print(d)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter add = kathmandu
Enter name = Shyam
Enter age = 40
Enter add = lalitpur
{1: {'name': 'Ram', 'age': 34, 'add': 'kathmandu'}, 2: {'name': 'Shyam', 'age': 40, 'add': 'lalitpur'}}

# how to read the value in dict inside dict

In [22]:
print(d[1]['name'])
print(d[2]['age'])

Ram
40

# n ote how to update in above code

In [ ]:
d[1]['name'] = "Ram Prasad"
d

# how to delet in this dict inside dic

In [23]:
a = {1: {'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}, 
     2: {'name': 'Shyam', 'age': 34, 'add': 'Bhaktapur'}}
del a[1]
a# note dict del is used most in dict inside dict

{2: {'name': 'Shyam', 'age': 34, 'add': 'Bhaktapur'}}

# below can be store also structure of dict .

In [24]:
a = {1:{'name': 'Ram','age':34,'add': {'per':'Kathmandu','temp':"Koteswor"}}, 
     2: {'name':'Shyam','age':34,'add': {'per':'Kathmandu','temp':"Koteswor"}}}
a

{1: {'name': 'Ram',
  'age': 34,
  'add': {'per': 'Kathmandu', 'temp': 'Koteswor'}},
 2: {'name': 'Shyam',
  'age': 34,
  'add': {'per': 'Kathmandu', 'temp': 'Koteswor'}}}