no any addition operatror is used

to view the dict. iteam
1. no any search is done
2.

In [8]:
d = {'ap':'apple',
    'b':'ball',
    'c':'çat'}
for i in d:    #only print keys
    print(i,end=' ')
print()
for i in d.values():# note only print value
    print(i,end=' ')

ap b c
apple ball çat

if you want to print keys and value at same time :

In [12]:
for i in d.items():
    print(i,end= ' ') # value will be shown in tupple

('ap', 'apple') ('b', 'ball') ('c', 'çat')

#convert the list into dict. but need few conditon

In [20]:
a = [['a','apple'],['b','balls'],['c','class']]# two string should be there
dict(a)

{'a': 'apple', 'b': 'balls', 'c': 'class'}

In [24]:
b={'a': 'apple', 'b': 'balls', 'c': 'class'}
print(list(b))#note only keys will print
print((list(b.items()))) #this will print keys and value

['a', 'b', 'c']
[('a', 'apple'), ('b', 'balls'), ('c', 'class')]

#To create dictonary 
1. dict{}
2. d = {}
3. for indexing the dict [] is used

In [31]:
#to add value 
name = {'k':'kiran','h':'hari','r':'ram','s':'sita'}
print(name)
name['k']= 'dragon' #note key'k' value will be change to 'dragon'
name['h']='helicopter'
name['a']='apple'#note it can add new key and value
print(name)

{'k': 'kiran', 'h': 'hari', 'r': 'ram', 's': 'sita'}
{'k': 'dragon', 'h': 'helicopter', 'r': 'ram', 's': 'sita', 'a': 'apple'}

1. To delet the value used 
1. del name['']
3.pop()

# del at dict

In [35]:
name = {'k':'kiran','h':'hari','r':'ram','s':'sita'}
#del name['kiran']# for deleting we have to used oinly key not a value
print(name)
del name['k']# only use key 
print(name)

{'k': 'kiran', 'h': 'hari', 'r': 'ram', 's': 'sita'}
{'h': 'hari', 'r': 'ram', 's': 'sita'}

In [40]:
name = {'k':'kiran','h':'hari','r':'ram','s':'sita'}
c = name.pop('h')
print(name)
print(c) # by using pop we can move the value in another variable

{'k': 'kiran', 'r': 'ram', 's': 'sita'}
hari

{'k': 'kiran', 'r': 'ram', 's': 'sita'}

# To create the dict from user

In [43]:
d ={}
n = int (input("enter the n ="))
for i in range(n):
    name= input("enter name =")
    phone= input("enter phone=")
    d[phone]= name # take phone nbr as key, since we have to take key value unique
print(d)

enter the n =2
enter name =ram
enter phone=99898
enter name =sita
enter phone=24154545
{'99898': 'ram ', '24154545': 'sita'}

In [44]:
d ={}
n = int (input("enter the n ="))
for i in range(n):
    name= input("enter name =")
    phone= input("enter phone=")
    d[name]= phone
print(d)
# though we have given two value , only last one is printed 
#since key is same so last value will update above value

enter the n =2
enter name =ram
enter phone=981736498
enter name =ram
enter phone=9898
{'ram': '9898'}

#if we have same name with two value then we have to do
follow steps:-

In [45]:
#list inside dict # if user have multiple value in same key
d = {'ram':[9817364835,9841173865],
    'hari':[9817364147,98427568900]}
print(d)

{'ram': [9817364835, 9841173865], 'hari': [9817364147, 98427568900]}

In [46]:
print(d['ram'])
print(d['ram'][0]) # to read the value of ram

[9817364835, 9841173865]
9817364835

In [50]:
d ={}
n = int (input("enter the n ="))
for i in range(n):
    name= input("enter name =")
    ncell_phone= int(input("enter  ncell phone="))
    ntc_phone= int(input("enter  ntc phone="))
    d[name]= [ncell_phone,ntc_phone]
print(d)
#note what if name is same then value will change

enter the n =2
enter name =ram
enter  ncell phone=98172
enter  ntc phone=98142
enter name =ram
enter  ncell phone=0000
enter  ntc phone=1233
{'ram': [0, 1233]}

In [52]:
d = {'name':['ram','hari','shyam'],
    'ncell_phone':[9817364835,9818475,9817568565],
    'ntc_phone':[9841,9842,984170]}
d

{'name': ['ram', 'hari', 'shyam'],
 'ncell_phone': [9817364835, 9818475, 9817568565],
 'ntc_phone': [9841, 9842, 984170]}

In [56]:
d ={'name':[],
   'ncell_phone':[],
   'ntc_phone':[]}

n = int (input("enter the n ="))
for i in range(n):
    name= input("enter name =")
    ncell_phone= int(input("enter  ncell phone="))
    ntc_phone= int(input("enter  ntc phone="))
    d['name'].append(name)
    d['ncell_phone'].append(ncell_phone)
    d['ntc_phone'].append(ntc_phone)
    
print(d)

enter the n =2
enter name =ram
enter  ncell phone=98173
enter  ntc phone=9841
enter name =sita
enter  ncell phone=98017
enter  ntc phone=9843
{'name': ['ram', 'sita'], 'ncell_phone': [98173, 98017], 'ntc_phone': [9841, 9843]}

In [58]:
print(d['name'][0],d['ncell_phone'][0],d['ntc_phone'][0])

ram 98173 9841

# how to create and how to read it. is impt.

In [61]:
#dict inside list
d =[{'name':'ram','age':34,'add':'kathmandu'},
     {'name':'shyam','age':44,'add':'urlabari'},
     {'name':'hari','age':34,'add':'damak'}]
d

[{'name': 'ram', 'age': 34, 'add': 'kathmandu'},
 {'name': 'shyam', 'age': 44, 'add': 'urlabari'},
 {'name': 'hari', 'age': 34, 'add': 'damak'}]

In [69]:
print(d[0])
print(d[1])

{'name': 'ram', 'age': 34, 'add': 'kathmandu'}
{'name': 'shyam', 'age': 44, 'add': 'urlabari'}

#how to crerate above value

In [71]:
d =[]
n = int(input("enter any number = "))
for i in range(n):
    name= input("enter name =")
    age = int(input("enter a age ="))
    add = input("enter a add= ")
    x= {'name': name, 'age': age, 'add': add}
    d.append(x)
print(d)

enter any number = 2
enter name =ram
enter a age =33
enter a add= damak
enter name =sita
enter a age =35
enter a add= urlabari
[{'name': 'ram', 'age': 33, 'add': 'damak'}, {'name': 'sita', 'age': 35, 'add': 'urlabari'}]

In [ ]:
1.create
2.read
3.update
4.delet
crud  a e d p
1. add
2.edit
3.del
4. print
crood operation