# file handling
1.how to read
2..txt
3. .csv extension

how we can read
* how we can write

In [1]:
# file = open('<file location>)','<mode>') #to open
# <operation>
# file.close() # we have to use this to closed file also

In [2]:
# with open ('<file_name>'.'mode') as file: # no need to closed
#     <operation>

In [3]:
# #mode are below :-
# read -> r # mode 'r' to read
# write -> w use 'w  to write
# create -> x 'x'mode to create
# append -> a''

# how to create file , is below :-

#if we have one mode used , then we have to closed this then only next mode can be work

In [5]:
file = open('data.txt','x') # we creat data.txt file see in python jupyter
file.close()# we have to close this then only nxt mode is done

FileExistsError: [Errno 17] File exists: 'data.txt'

# how to read

all the value will be in string
1.

In [3]:
file = open('data.txt','r')#r for read mode
x = file.read()
print(x)
file.close()# we can read txt file in jupyter
#txt file will be in str() type

1. Hello world
2. Hello world
3. Hello world
4. Hello world
5. Hello world

In [8]:
x.split('\n')# this convert into list split function

['1. Hello world',
 '2. Hello world',
 '3. Hello world',
 '4. Hello world',
 '5. Hello world']

In [10]:
x.split('\n') # note all data will be in list so we can read it by indexing 
b = x.split('\n')
print(b)

print(b[0])
print(b[4])

['1. Hello world', '2. Hello world', '3. Hello world', '4. Hello world', '5. Hello world']
1. Hello world
5. Hello world

# note in txt file when we press enter then next line will come . but if the word are long then it will display in below which is not called second line . if we have to create line 2 , we have to press enter button.

# write in the file:-
# note in write mode, if we give file name, which has been saved then it will delet the data and add new operation data.
# but if we give new file name which we don't have then it will create and print the data wihch are in operation.
#note onnly support string variable

# write( only support str() file only)

In [8]:
#write
#2.
file =  open('data1.txt','w')# note if old file is there then it will update data
#note if there is not a file then it will create file and save file
file.write('Hello world')
file.close()

# bill  write

In [32]:
# name, price qty bill save = ""# note we can also write str()
bill=str()
n = int(input("Enter how many iteam do you bought"))
for i in range(n):
    name = input("Enter the  name = ")
    price = int(input("Enter the price ="))
    qty = float(input("Enter qty = "))
    total = price * qty
    
#     bill = bill+f"{name},{price},{qty},{total}\n"
    
    bill = bill + f"{name}\t{price}\t{qty}\t{total}\n"# note we have to keep 
    #\t so we can keep in list 
    #while doing split it will do by space so we have to keep space 
    #
    
print(bill)
file =  open('bill.txt','w')
file.write(bill)
file.close()

Enter how many iteam do you bought2
Enter the  name = apple
Enter the price =320
Enter qty = 2
Enter the  name = ice cream
Enter the price =180
Enter qty = 7
apple	320	2.0	640.0
ice cream 	180	7.0	1260.0

In [38]:
file = open('bill.txt','r')
x = file.read()
print(x.split('\n'))
file.close()

['apple\t320\t2.0\t640.0', 'ice cream \t180\t7.0\t1260.0', '']

In [40]:
y=x.split('\n')
y[0].split('\t')

['apple', '320', '2.0', '640.0']

In [16]:
print(bill)

apple	 320	 5.0	 1600.0
ice cream	 180	 4.0	 720.0

In [39]:
bill# note this is view

'apple\t320\t2.0\t640.0\nice cream \t180\t7.0\t1260.0\n'

# this below code is to read :-

In [28]:
file = open('bill.txt','r') # check in the bill.txt
x = file.read()
print(x.split('\n'))#note 
file.close() # read in list
#note we have to keep in list inside list to do further arry

['apple,320,2.0,640.0', 'ice cream,220,4.0,880.0', '']

In [37]:
a = "ram_hari_shyam"
print(a.split('_'))# _ split in list
print(a) # str () is muitble so valu ewon't changhe

['ram', 'hari', 'shyam']
ram_hari_shyam

#note splist will convert string into list

In [32]:
#eg:-
a = "ram hari shyam"#note space string will be kept in list
a.split()
print(a)

ram hari shyam

In [45]:
y = x.split('\n')[0:-1]
y

['apple\t 320\t 2.5\t 800.0\t ', 'ice cream \t 170\t 2.0\t 340.0\t ']

# converting above data in list inside list

In [61]:
bills =[]
for i in y:
    z =i.split('\t')
    bills.append(z)
print(bills)
print(type(bills))

[['apple', '320', '2.0', '640.0'], ['ice cream ', '180', '7.0', '1260.0'], ['']]
<class 'list'>

# converting value of bill in int and float for calculation

# when user give data in txt file 
and we have to collect

In [60]:
bills =[]
for i in y:
    z =i.split('\t')
    z[1]= int(z[1])
    z[2] = float(z[2])
    z[3]= float(z[3])
    bills.append(z)
print(bills)
print(type(bills))

IndexError: list index out of range

In [58]:
for i in y:
    z = i.split('\t')
    print(z)

['apple', '320', '2.0', '640.0']
['ice cream ', '180', '7.0', '1260.0']
['']

In [14]:
a = 123
a.split()#note split int is not splited

AttributeError: 'int' object has no attribute 'split'