In [ ]:
a = [[1,2,3,4],
     [4,3,6,5]]

In [1]:
info = [["Ram",34,"Kathmandu"],
       ["Shyam",45,"Bhaktapur"],
       ["Hari",34,"Lalitpur"]]
print(type(info))
print(info)

<class 'list'>
[['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapur'], ['Hari', 34, 'Lalitpur']]

# indexing: in list inside list:

In [4]:
print(info[0])
print(info[1])
print(info[2])

['Ram', 34, 'Kathmandu']
['Shyam', 45, 'Bhaktapur']
['Hari', 34, 'Lalitpur']

# getting detail of ram age and add.

In [6]:
print(info[0][1:3])
print(info[0][0])

[34, 'Kathmandu']
Ram

# getting detail of hari;

In [8]:
print(info[2][0])

Hari

# creating the list inside list from user;

In [6]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter a age = "))
    add = input("Enter a add = ")
    #x = [name,age,add]
    #info.append(x) # this can be also done
    info.append([name,age,add])
print(info)

Enter n = 4
Enter name = Ram
Enter a age = 89
Enter a add = Kathmandu
Enter name = Hari
Enter a age = 87
Enter a add = Bhaktpur
Enter name = Shayam
Enter a age = 80
Enter a add = Lalitpur
Enter name = Kiran
Enter a age = 33
Enter a add = Urlabari
[['Ram', 89, 'Kathmandu'], ['Hari', 87, 'Bhaktpur'], ['Shayam', 80, 'Lalitpur'], ['Kiran', 33, 'Urlabari']]

In [7]:
print(info)
print(len(info))

[['Ram', 89, 'Kathmandu'], ['Hari', 87, 'Bhaktpur'], ['Shayam', 80, 'Lalitpur'], ['Kiran', 33, 'Urlabari']]
4

# read

In [8]:
for i in info:
    print(i)

['Ram', 89, 'Kathmandu']
['Hari', 87, 'Bhaktpur']
['Shayam', 80, 'Lalitpur']
['Kiran', 33, 'Urlabari']

# search a Ram only in info variable

In [9]:

name = input("Enter name = ")
for i in info:
    if name in i :
        print(i)

Enter name = Ram
['Ram', 89, 'Kathmandu']

finding the info data where age = 80/ given age data in below

In [10]:
age= int(input("Enter a age = "))
for i in info:
    if i[1]>=age:
        print(i) # note user should alwasy keep the age in 1 index. 
        # WE ARE doing i[1]

Enter a age = 80
['Ram', 89, 'Kathmandu']
['Hari', 87, 'Bhaktpur']
['Shayam', 80, 'Lalitpur']

# makeing program case insencitive

In [14]:
name = input("Enter name = ")
for i in info:
    
    if name.lower() == i[0].lower():
        print(i)

Enter name = ram
['Ram', 89, 'Kathmandu']

In [19]:
#case sensitive

name = input("Enter name = ")
for i in info:
    if name in i :
        print(i)
        
        
        
#no any case sencitive
name = input("Enter name = ")
for i in info:
    
    if name.lower() == i[0].lower():
        print(i)

Enter name = ram
Enter name = ram
['Ram', 89, 'Kathmandu']

# for address without case sensitive

In [20]:
#case sensitive WAP
add = input("Enter add = ")
for i in info:
    if add in i :
        print(i)

## no any case sensitive
#below Program
add = input("Enter add = ")
for i in info:
    
    if add.lower() == i[2].lower():
        print(i)

Enter add = Kathmandu
['Ram', 89, 'Kathmandu']
Enter add = kathmandu
['Ram', 89, 'Kathmandu']

# updating a data in list inside list

In [21]:
info[0]

['Ram', 89, 'Kathmandu']

In [23]:
info[0]=['ram',34,'Kathmandu']
info[0]

['ram', 34, 'Kathmandu']

In [25]:
info[0][0]= 'RaM'
info[0]# changing the value of list inside list

['RaM', 34, 'Kathmandu']

# deleting in list inside list

In [26]:
#remove
#del

In [30]:
del info[0]
print(info) # don't do again gain
#note do run again again so it will delet value

[['Shayam', 80, 'Lalitpur'], ['Kiran', 33, 'Urlabari']]

In [32]:
info= [['Ram', 89, 'Kathmandu'],
['Hari', 87, 'Bhaktpur'],
['Shayam', 80, 'Lalitpur'],
['Kiran', 33, 'Urlabari']]

#Remove

In [33]:
info.remove(['Ram', 89, 'Kathmandu'])
info
# we have to copy whole element in remove

[['Hari', 87, 'Bhaktpur'],
 ['Shayam', 80, 'Lalitpur'],
 ['Kiran', 33, 'Urlabari']]

In [39]:
info= [['Ram', 89, 'Kathmandu'],
['Hari', 87, 'Bhaktpur'],
['Shayam', 80, 'Lalitpur'],
['Ram', 33, 'Urlabari']]

In [ ]:
#removeing both value

In [41]:
name = input("Enter name = ")
for i in info:
    
    if name.lower() == i[0].lower():
        info.remove(i)
print(info)

Enter name = hari
[['Shayam', 80, 'Lalitpur']]

In [37]:
info

[['Hari', 87, 'Bhaktpur'],
 ['Shayam', 80, 'Lalitpur'],
 ['Kiran', 33, 'Urlabari']]

#WAP
1. create a list from user
 crud 
c = create
r= read
u = update
d = delet
adding UI can make a software

# updating in a bulk

# WAP to increase the salary by 5% and updating the list below:

In [43]:
info= [['Ram', 89, 'Kathmandu',50000],
['Hari', 87, 'Bhaktpur',60000],
['Shayam', 80, 'Lalitpur',40000],
['Ram', 33, 'Urlabari',65000]]

['Ram', 33, 'Urlabari', 65000]

In [50]:
for person in info:
    person[3] *= 1.05 
    print(person[3])
for data in info:
    print(data)

55125.0
66150.0
44100.0
71662.5
['Ram', 89, 'Kathmandu', 55125.0]
['Hari', 87, 'Bhaktpur', 66150.0]
['Shayam', 80, 'Lalitpur', 44100.0]
['Ram', 33, 'Urlabari', 71662.5]

# checking the value in bulk

In [48]:
for salary in info:
    print(salary[3])
print()
for name in info:
    print(name[0])
print()
for age in info:
    print(age[1])
print()
for add in info:
    print(add[2])

50000
60000
40000
65000

Ram
Hari
Shayam
Ram

89
87
80
33

Kathmandu
Bhaktpur
Lalitpur
Urlabari

In [ ]:

for salary in info:
    print(salary[3])