In [7]:
info= [['Ram',31,'Urlabari',30000],
       ['Hari',25,'damak',27000],
       ['sita',27,'Pokhara',28000],
       ['shyam',26,'madhumala',22000]]

# indexing the list

In [10]:
print(info[1][0])
print(info[3][2])

Hari
madhumala

In [16]:
mobile= []
num = int(input("how many data do you want"))
for i in range(num):
    company=input("Enter of company =")
    price= int(input("Enter the price ="))
    model = input("Enter the model= ")
    color = input("Enter the color = ")
    a = ['compnay'+ str(price)+ 'model'+'color']
    mobile.append(a)
    print(mobile)

how many data do you want2
Enter of company =samsung
Enter the price =50000
Enter the model= galaxy
Enter the color = black
[['compnay50000modelcolor']]
Enter of company =iphone
Enter the price =75000
Enter the model= iphone12
Enter the color = gold
[['compnay50000modelcolor'], ['compnay75000modelcolor']]

# adding data in list

#using insert() for placing the value in different index

In [9]:
name = ["kiran","ram","hari"]
name.insert(2,"sita")
print(name)

['kiran', 'ram', 'sita', 'hari']

By using .append()
we can only append value at last , we can't append value in desired index

In [10]:
#Eg:=
name= ["ram","kiran","sita"]
name.append("hari")   
print(name)                                                    # since .append() function only take 
                                        #one argument so we cannot place it at desired location

['ram', 'kiran', 'sita', 'hari']

# deleting the value from list:-
1..remove()
2. del()
3.pop()

In [8]:
a = ["kiran", "ram","hari"]
a.remove("kiran")
print(a)
a.append("shyam")
print(a)

['ram', 'hari']
['ram', 'hari', 'shyam']