#  python collection:
# arry collection other program which are listed below in python:-
1.

# List :- point to do in list chapter
* Indexing
* Ordered 
* multiple and duplicate[" apple","apple"]
* muitable

# why need list:
for to store more value in one variable:=

#creating list
#updating list
#editing list
#deleting value of list

In [1]:
#list eg:
a = [1,2,3,4,5,6,7,8,9,0]
b = ["Apple","Ball","Cat","Dog","Fish"]# can have both int() and str()
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

# indexing list:-

In [3]:
b = ["Apple","Ball","Cat","Dog","Fish"]
print(b[0])
print(b[0:4])
print(b[0:5:2])#[start:stop:increment]

Apple
['Apple', 'Ball', 'Cat', 'Dog']
['Apple', 'Cat', 'Fish']

In [8]:
a= [1,1,2, 'ram',3,4,5]
b= [6,7,8,9,0]
c= a+b
print(c)

[1, 1, 2, 'ram', 3, 4, 5, 6, 7, 8, 9, 0]

In [11]:
a= ["Apple","Ball","Cat","Dog","Fish","Apple"]
for i in a :
    print(i)

Apple
Ball
Cat
Dog
Fish
Apple

#  how to create  a list throug

In [ ]:
append()= add value at last order in list.
insert()= we can place the value in desired index by user in list.
extend()= multiple value append than we have to use it.

# append()

In [19]:
#create a list by using append()
a= []
n = int(input("Enter n = "))
for i in range(n):# we cannot do for i in n: since n is int() which is not ietrable
    x = int(input("enter x = "))
    a.append(x)# note we are adding value in a[] by adding x value
    print(a)

Enter n = 5
enter x = 4
[4]
enter x = 5
[4, 5]
enter x = 4
[4, 5, 4]
enter x = 7
[4, 5, 4, 7]
enter x = 6
[4, 5, 4, 7, 6]

In [20]:
a

[4, 5, 4, 7, 6]

# math operation in list for int() value 
max()
min()
sum()
sort() assendig order
reverse() des. order

In [25]:
a = [4, 5, 4, 7, 6]
print("the max value = ",max(a))
print("the min value = ",min(a))
print("the sum of value  of a list=",sum(a))
a.sort()
print(a)

the max value =  7
the min value =  4
the sum of value  of a list= 26
[4, 4, 5, 6, 7]

In [27]:
a = [4, 5, 4, 7, 6]
a.reverse()#
print(a)

[6, 7, 4, 5, 4]

# sorting in list (assending order)

# sorting in str()

In [30]:
a= ["Apple","Ball","Cat","Dog","Fish","Apple"]
a.sort()
print(a)
b= ["Apple",".Ball","1at","@og","Fish","Apple"]
b.sort()
print(b)

['Apple', 'Apple', 'Ball', 'Cat', 'Dog', 'Fish']
['.Ball', '1at', '@og', 'Apple', 'Apple', 'Fish']

# insert
eg: are shown below:

In [32]:
a= ["Apple","Ball","Cat","Dog","Fish","Apple"]
a.insert(0,"apple")
a

['apple', 'Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']

# extend()
eg are shown below :-

In [33]:
a= ["Apple","Ball","Cat","Dog","Fish","Apple"]
b = [1,2,3,4,5,6,7,8,9,0]
a.extend(b) # note adding the one list to another list 
a

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

# updating list:

In [34]:
#updating one value only:=

a= ["Apple","Ball","Cat","Dog","Fish","Apple"]
a[0]= "car" # change the value of desired index[]
a

['car', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [35]:
a= ["Apple","Ball","Cat","Dog","Fish","Apple"]
a[1]= ["aeroplane","airport" ]
a # below output is list in list

['Apple', ['aeroplane', 'airport'], 'Cat', 'Dog', 'Fish', 'Apple']

#adding two value in list

In [49]:
# this one is inserting since len has been change 

a= ["Apple","Ball","Cat","Dog","Fish","Apple"]
print(len(a))
a[1:2]= ["aeroplane","airport" ]# inserting two place by giving place
print(a) # below output is list in list
print(len(a))

6
['Apple', 'aeroplane', 'airport', 'Cat', 'Dog', 'Fish', 'Apple']
7

# updating two value at same time:

In [48]:
#this one is updating so len is not changed :

a= ["Apple","Ball","Cat","Dog","Fish","Apple"]
print(len(a))
a[2:5]=["ball","block","hari"]
print(a)# note differece in [] should be two ,
print(len(a))#note [value given should be equal to value difference in indexing ]

6
['Apple', 'Ball', 'ball', 'block', 'hari', 'Apple']
6

note while updating the list with two more value indexing differece should be equall to the defference of indexing 
eg:
["hari","sita"] 2 value so [0:2] or [2:4]
["hari","ram","sita"] 3 value updating show [0:3],[1:4],[

In [47]:
a= ["Apple","Ball","Cat","Dog","Fish","Apple"]
print(len(a))
a[1:5]=["ball","block","hari"]# note we are updating the value but we are givn
#given only 3 value . but we have command 4 value so fish is empty
print(a)
print(len(a))

6
['Apple', 'ball', 'block', 'hari', 'Apple']
5

# Deleting value from list:

In [50]:
# del()
# remove()
# pop()

In [51]:
#del()

a= ["Apple","Ball","Cat","Dog","Fish","Apple"]
del a[0]
print(a)

['Ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [52]:
a= ["Apple","Ball","Cat","Dog","Fish","Apple"]
del a[0:3]
print(a)

['Dog', 'Fish', 'Apple']

# extra tips for deleting multiple value

In [53]:
c = ["Apple", "Ball", "Cat", "Dog", "Fish", "Apple"]
elements_to_remove = ["Apple", "Cat", "Fish"]

for element in elements_to_remove:
    while element in c:
        c.remove(element)
print(c)

['Ball', 'Dog']

# finding the index of value:

In [57]:
a= ["Apple","Ball","Cat","Dog","Fish","Apple"]
print(a.index("Dog"))

3

# finding indexing if we have same value in variable (multiple indexing)

In [60]:
a= ["Apple","Ball","Cat","Dog","Fish","Apple"]
# we have Apple both 
l = len(a)
for i in range(l):
        if a[i]== "Apple": # note a[i]cheking index,equall to appple
            print(i) # so printing indexing

0
5

# using a search method for finding index

# note for making case insensitive by using .lower() or .upper which is only in str()  data tpe

In [87]:
a= ["Apple","Ball","Cat","Dog","Fish","Apple"]
l = len(a)
search = input("enter search value = ")
for i in range(l):
        if a[i]== search:
            print(i)  # note this one is case sensitive

enter search value = Ball
1

# insencitvy program of above:
# finding indexing of value

In [93]:
# finding the index number of value in list:
a= ["Apple","Ball","Cat","Dog","Fish","Apple"]
l = len(a)
search = input("enter search value = ")
for i in range(l):
        if search.lower() == a[i].lower():
            print("yes there is value",i)

enter search value = apple
yes there is value 0
yes there is value 5

# remove:-
#pop

In [69]:
a= ["Apple","Ball","Cat","Dog","Fish","Apple"]
print(a.remove("Cat")) # note none is show because it command 
print(a.count('Apple'))
print(a)

None
2
['Apple', 'Ball', 'Dog', 'Fish', 'Apple']

In [72]:
a= ["Apple","Ball","Cat","Dog","Fish","Apple"]
c = a.count('Apple')
print(c)
for i in range(c):
    a.remove("Apple")
print(a)

2
['Ball', 'Cat', 'Dog', 'Fish']

# pop:

# we can delet the value from   bac k side:

In [73]:
a= ["Apple","Ball","Cat","Dog","Fish","Apple"]
a.pop()
a

['Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [75]:
a= ["Apple","Ball","Cat","Dog","Fish","Apple"]
b= a.pop() # remove data from back side
print(a)
print(b)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish']
Apple

In [76]:
a= ["Apple","Ball","Cat","Dog","Fish","Apple"]
b= a.pop(3)
print(a)

['Apple', 'Ball', 'Cat', 'Fish', 'Apple']

# searching in list :

# case sensitive below eg"search"

In [77]:
a= ["Apple","Ball","Cat","Dog","Fish","Apple"]
search = input("enter a search value = ")
if search in a :
    print("yes")
    print(a.count(search))

enter a search value = Apple
yes
2

# insencitive "search option" from user input:

In [83]:
c = 0
a= ["Apple","Ball","Cat","Dog","Fish","Apple","Apple"]
search = input("enter a search value = ")
for i in range(len(a)):
    if search.lower()==a[i].lower():
        c += 1
print(c)

enter a search value = apple
3

# counting the value of search iteam by user

In [94]:
c = 0
a= ["Apple","Ball","Cat","Dog","Fish","Apple","Apple"]
search = input("enter a search value = ")
for i in range(len(a)):
    if search.lower()==a[i].lower():
        c += 1
if c >0:
    print("yes! there is a such value")
else:
    print("there is no such value")
print("value search is =",c)

enter a search value = dragon
there is no such value
value search is = 0

# list inside list:

#  creating the list from user

In [ ]:
a = []
b= in