In [1]:
# Set
# -No indexing
# -Unordered
# -Multiple data but no duplicate
# -Mutable
#note set inside set doesnot exist, can be made

In [ ]:
a = set()

In [2]:
a = {'Apple','Ball','Cat','Dog','Fish'}
print(a) # no duplicate value can be store

{'Ball', 'Apple', 'Dog', 'Cat', 'Fish'}

Checking the value:-

In [3]:
a = {'Apple','Ball','Cat','Dog','Fish','Apple'}
print(a)

{'Ball', 'Apple', 'Dog', 'Cat', 'Fish'}

# using loop in set:
value will change evry time we run

In [6]:
a = {'Apple','Ball','Cat','Dog','Fish'}
for i in a:
    print(i)# note in Set() value will be in random
    #note every time we run code it change the order of value

Ball
Apple
Dog
Cat
Fish

In [11]:
s = {} # this 
print(type(s))
s = {1}
type(s)

<class 'dict'>

set

# fro adding the value in set{}

In [12]:
s = set()
s.add("Apple")
s.add("Ball")# note add function added only one by one
s.add("Cat")
print(s)

{'Ball', 'Apple', 'Cat'}

# we cannot conct. in set

In [13]:
a = {1,2,3,4,5}
b = {2,3,4,5}
c = a + b
print(c)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

# but we can update a bulk of code

In [14]:
a = {1,2,3,4,5}
a.update({3,4,5,6,7,8,9,})# we can add multiple value
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

#for removing the data in set{}

In [15]:
a = {1,2,3,4,5}
a.remove(1)
a

{2, 3, 4, 5}

In [17]:
a = [1,2,3,1,2,3,4,5,3,4,5,3,2,3,4,5,3]
a = set(a)
a
# a = list(a)
# a

{1, 2, 3, 4, 5}

In [19]:
a = list(a)
a

[1, 2, 3, 4, 5]

#

In [20]:
a = {1,3,5,7,9}
b = {6,7,8,9,10}

i = a.intersection(b)
print(i)

{9, 7}

In [21]:
u = a.union(b)
print(u)

{1, 3, 5, 6, 7, 8, 9, 10}

In [22]:
U = {1,2,3,4,5,6,7,8,9,10}# u = universal set

In [23]:
print(U- u)# compliment set {2,4}

{2, 4}

# people working in two company

In [26]:
#apple is one company
#ms is another company
apple = {"Steave","Robin","Jack","Nabin","Sam","Krish"}
ms = {"Bill","Jhon","Ram","Satya","Sam","Sabin","Sita"}
am = apple.intersection(ms)
print(am) # in both company sam works

{'Sam'}

In [28]:
#merage both company
un = apple.union(ms)
print(un)

{'Sita', 'Jack', 'Krish', 'Ram', 'Bill', 'Jhon', 'Nabin', 'Robin', 'Steave', 'Sabin', 'Sam', 'Satya'}

In [29]:
#note only people working in apple compnay
ap = apple - ms
print(ap)

{'Jack', 'Krish', 'Nabin', 'Robin', 'Steave'}

In [30]:
#U = university of usa , passed out student.where only two 
#company are there to deployed which is apple and Ms
U = {'xyz','abc','Nabin', 'Robin', 'Jack', 'Steave', 'Satya', 'Krish', 'Jhon', 'Sabin', 'Sita', 'Ram', 'Bill', 'Sam'}
# to check unployment people
print(U-un)
#below out are people which are unemployed

{'xyz', 'abc'}

#

# below code which are checking the value of company people working

In [ ]:
U = {'xyz','abc','Nabin', 'Robin', 'Jack', 'Steave', 'Satya', 'Krish', 'Jhon', 'Sabin', 'Sita', 'Ram', 'Bill', 'Sam'}
apple = {"Steave","Robin","Jack","Nabin","Sam","Krish"}
ms = {"Bill","Jhon","Ram","Satya","Sam","Sabin","Sita"}

am = apple.intersection(ms)
print(am)

un = apple.union(ms)
print(un)

ap = apple - ms
print(ap)

om = ms - apple
print(om)

print(U-un)

# set can be used in job searching

In [32]:
job = {"python","django","restapi","ml","tensorflow","pytorch"}# this is skilled need at job
profile = {"python","django","html","css"}# this is my skill have

#note how to check i am fitted in this job by check set

len_skill = len(job.intersection(profile))
print(len_skill)


len_job_skill = len(job)
print(len_job_skill)

chance = len_skill/len_job_skill * 100
print(chance)

2
6
33.33333333333333

# dis-joint set if job skill doesn't match with profile skill

# super set:

In [ ]:
super set is job skill == profile skill

In [34]:
job = {"python","django","restapi","ml","tensorflow","pytorch"}
profile = {"python","django"}

print(profile.issuperset(job))

False

# sub -set:
is all iteam of profile skilled is == all in job skilled

In [35]:
print(profile.issubset(job))

True

# in set mutable data are not store

In [36]:
s = {(1,2,3),(4,5,6,7)}
s

{(1, 2, 3), (4, 5, 6, 7)}

In [ ]:
#note set inside set is not exist

In [37]:
s = {[1,2,3],[4,5,6,7]}
s # note set inside set doesn't exist:

TypeError: unhashable type: 'list'