# string
# imutable data type

In [8]:
a = "hellow world \n"
print(a * 3 )

hellow world
hellow world
hellow world

In [10]:
a = "world"
for i in a:
    print(i,end = "")# str can be iterable

world wworld oworld rworld lworld d

In [11]:
a = 200
for i in a:
    print(i)# note int cannot be iterable

TypeError: 'int' object is not iterable

#indexing the str:-

# use [] fro indexing

In [14]:
a = "hello world.  i am python"
print(a[2])
print(a[0:6])
print(a[0:10:2])

l
hello
hlowr

len :-

In [15]:
print(len(a))

25

# indexing -ve backward

In [16]:
a = "python"
print(a[::-1])# note[start: stop: increment]

nohtyp

# using range in str()

In [20]:
a = "Hello world I am python"
n =len(a)
for i in range(n):
    print(a[i],end = "")# note we have to use a[i] since we are using range so [start:stop]

Hello world I am python

# using for loop in str

In [29]:
a = "Hello world I am python"
n =len(a)
for i in range(n):
#         print(i) this give the index number print nbr from 0:nlen (a)
        print(a[i], end = "")# note we have to use a[i] since we are using range so [start:stop]

Hello world I am python

# using while loop in str:

In [31]:
i =0
a = "Hello world I am python"
n =len(a)
while i < n:
        print(a[i], end = "")
        i = i +1

Hello world I am python

# findig indexing number of any sentence

# # Wap to find index of space in 
# 5,11,13,16

In [46]:
# Wap to find index of space in 
# 5,11,13,16
a = "Hello world I am python"
n =len(a)
for i in range(n):
    if a[i]==" ":
        print("space index in a ",i)

space index in a  5
space index in a  11
space index in a  13
space index in a  16

In [47]:
a = input("Enter any sentence to find the space index number = ")
n = len(a)
for i in range(n):
    if a[i]==" ":
        print("This are the index nuimber of space",i)

Enter any sentence to find the space index number = hello my boy. how are you?
This are the index nuimber of space 5
This are the index nuimber of space 8
This are the index nuimber of space 13
This are the index nuimber of space 17
This are the index nuimber of space 21

# string formating
]

In [55]:
name = "ram"
age= 34
add = "kathmandu"
info= "hello world I am "+ name+" "+"i am from "+ str(age) + " "+"i am from"+" "+add
info

'hello world I am ram i am from 34 i am from kathmandu'

# using formating . where we keep variable in string also as shown in below example : int can also be store in str by using formating.

In [56]:
name = "ram"
age= 34
add = "kathmandu"
# info= "hello world I am "+ name+" "+"i am from "+ str(age) + " "+"i am from"+" "+add
info= f"hello world{name}. i am {age}. i am from {add}"
info

'hello worldram. i am 34. i am from kathmandu'

# WAP a program to create billing system using string formatting

In [62]:
bill = ""# note we can also write str()
all_total = 0
n = int(input("Enter how many iteam do you bought"))
for i in range(n):
    name = input("Enter the  name = ")
    price = int(input("Enter the price ="))
    qty = float(input("Enter qty = "))
    total = price * qty
    bill =f"{bill}{name} {price} {qty} {total}\n"
    all_total = all_total + total
print(bill)
print("Total price is =",all_total)

Enter how many iteam do you bought2
Enter the  name = apple
Enter the price =320
Enter qty = 2
Enter the  name = ice cream
Enter the price =70
Enter qty = 2
apple 320 2.0 640.0
ice cream 70 2.0 140.0

Total price is = 780.0

# searching in string:

In [72]:
a = "Ram Shyam Hari Sita Ram".lower()
name = input("Enter name =  ").lower() # note string are case sencitivy so
if name in a:
    print("There is ", name)
    print(a.count(name))
else:
    print("There is no such name")

Enter name == r
There is  r
3

# upper case and lower case in str to solve case sencitive issues .which are shown below.

In [70]:
a = "Ram Shyam Hari Sita Ram"
print(a.lower())
print(a.upper())

ram shyam hari sita ram
RAM SHYAM HARI SITA RAM

# searching at string has limitation which is explain below with eg:

In [75]:
a = "Ram Shyam Hari Sita Ramesh".lower() # note
name = input("Enter name =  ").lower() # note string are case sencitivy so
if name in a:
    print("Yes!,there is ", name)
    print(a.count(name))
else:
    print("There is no such name")    ##

Enter name =  ram
Yes!,there is  ram
2

# so we should keep data in array:

# edit option in str()

In [78]:
#replace
a = "Ram Shyam Hari Sita Ram"
a=a.replace("Ram","ram")
a # note both "Ram  are changed so it has also limit

'ram Shyam Hari Sita ram'

# tips that work some time

In [79]:
a = "Ram Shyam Hari Sita Ram"
a = a.replace("Ram ","ram ") # note we have given space which is trick hehehe but work some time 
a

'ram Shyam Hari Sita Ram'