In [1]:
# Tuple
# -Indexing
# -Ordered
# -Multiple and duplicate data
# -Imutable
# alwasy keep , in last data
#t= (1,)
#statics data
#in form like in gender where we can use tupple .
# in defined value
#lite weight data

In [2]:
t= tuple() # emety tuple

In [5]:
t = (1,) # note for tuple if one value only there than we have to put comma , after value 
print(type(t))
t = (1)# note if no comma than it is int.
print(type(t))

<class 'tuple'>
<class 'int'>

# No Create (appen(), insert() extend())
# No Update (sort())
# No Delete (del pop() remove())
# but can cam conct.

# only we can read which is shown below:

In [6]:
t = ("Apple","Ball","Cat","Dog","Apple")
print(t)
print(t[0])# can store duplicate value also

('Apple', 'Ball', 'Cat', 'Dog', 'Apple')
Apple

we can do below activities like

In [7]:
a = (234,456,7568,234,567,798,345,768,798,23,45)
print(max(a))
print(min(a))
print(sum(a))

7568
23
11836

# searching in tupple

In [9]:
a = ('Apple', 'Ball', 'Cat', 'Dog', 'Apple')
if "Apple" in a:
    print("Yes")

Yes

#

In [8]:
a = ('Apple', 'Ball', 'Cat', 'Dog', 'Apple')
a.index("Apple")
a

('Apple', 'Ball', 'Cat', 'Dog', 'Apple')

# how to create a tuple 
by conceting the value

In [10]:
a = (1,2,3,4,5)
b = (3,2,4,5,2)
c = a+b
print(c)# we can only conct. and make new tupple

(1, 2, 3, 4, 5, 3, 2, 4, 5, 2)

# inlargement in tuple

In [11]:
a = (1,2,3,4,5)
print(a*2)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

# how to create from user by input

In [12]:
t = ()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    t = t + (x,)# note x is str() so we have to keep (x,)
    
print(t)

Enter n = 2
Enter x = 1
Enter x = 2
('1', '2')

In [ ]:
a = "Apple"
tuple(a)