In [1]:
# Tuple
# -Indexing
# -Ordered
# -Multiple and duplicate data
# -Imutable
# alwasy keep , in last data
#t= (1,)
#statics data
#in form like in gender where we can use tupple .
# in defined value
#lite weight data 
#note in tuple we cannot change int to str like that  
# a= 123
tuple(a) can't be chnage since the value will be splited:

In [2]:
t= tuple() # emety tuple

In [5]:
t = (1,) # note for tuple if one value only there than we have to put comma , after value 
print(type(t))
t = (1)# note if no comma than it is int.
print(type(t))

<class 'tuple'>
<class 'int'>

# No Create (appen(), insert() extend())
# No Update (sort())
# No Delete (del pop() remove())
# but can cam conct.

# only we can read which is shown below:

In [6]:
t = ("Apple","Ball","Cat","Dog","Apple")
print(t)
print(t[0])# can store duplicate value also

('Apple', 'Ball', 'Cat', 'Dog', 'Apple')
Apple

we can do below activities like

In [7]:
a = (234,456,7568,234,567,798,345,768,798,23,45)
print(max(a))
print(min(a))
print(sum(a))

7568
23
11836

# searching in tupple

In [9]:
a = ('Apple', 'Ball', 'Cat', 'Dog', 'Apple')
if "Apple" in a:
    print("Yes")

Yes

#

In [8]:
a = ('Apple', 'Ball', 'Cat', 'Dog', 'Apple')
a.index("Apple")
a

('Apple', 'Ball', 'Cat', 'Dog', 'Apple')

# how to create a tuple 
by conceting the value

In [10]:
a = (1,2,3,4,5)
b = (3,2,4,5,2)
c = a+b
print(c)# we can only conct. and make new tupple

(1, 2, 3, 4, 5, 3, 2, 4, 5, 2)

# inlargement in tuple

In [11]:
a = (1,2,3,4,5)
print(a*2)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

# how to create from user by input

In [12]:
t = ()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    t = t + (x,)# note x is str() so we have to keep (x,)
    
print(t)

Enter n = 2
Enter x = 1
Enter x = 2
('1', '2')

#below are things not to do while ion above code:

In [5]:
a ="Apple" #
print(tuple(a))#note we cannot do like this since apple value wil be split and make another tuple
print(type(tuple(a)))

('A', 'p', 'p', 'l', 'e')
<class 'tuple'>

In [6]:
list("Apple")# this also value splited , so dont use this in above code

['A', 'p', 'p', 'l', 'e']

# we can change tuple into list:

In [7]:
#changing tuple into list:
a = ('Apple', 'Ball', 'Cat', 'Dog', 'Apple')
a = list(a)
a

['Apple', 'Ball', 'Cat', 'Dog', 'Apple']

# deleting value of tuple:

In [8]:
del a[0]
a = tuple(a)
a

('Ball', 'Cat', 'Dog', 'Apple')

# tuple inside tuple structure:

In [9]:
# tuple inside tuple
t = ((1,2,3),
    (4,5,6),
     (7,8,9))
print(t)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

# how to create a tuple inside tuple from user input:

In [10]:
#tuple inside tuple from user:
info = ()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    x = (name,age,add)
    info = info + (x,)# we cannot apppend so
    # we are conct.
    
print(info)

Enter n = 2
Enter name = Ram]
Enter age = 80
Enter add = Kathmandu
Enter name = Shyam
Enter age = 45
Enter add = lalitpur
(('Ram]', 80, 'Kathmandu'), ('Shyam', 45, 'lalitpur'))

# list inside tuple

In [11]:
# list inside tuple
t = (['Ram', 78, 'KAthmandu'], ['Shyam', 89, 'Bhaktapur'])
t

(['Ram', 78, 'KAthmandu'], ['Shyam', 89, 'Bhaktapur'])

In [12]:
t[0]

['Ram', 78, 'KAthmandu']

# tuple inside list

In [13]:
# tuple inside list
t = [('Ram', 78, 'KAthmandu'), ('Shyam', 89, 'Bhaktapur')]
t

[('Ram', 78, 'KAthmandu'), ('Shyam', 89, 'Bhaktapur')]

# tuple inside dict

# note key of dict{} 
always be inmutiable data

In [15]:
a = {('Sita','Gita'):9808778765,
    'Hari':9808778765}

In [16]:
a[('Sita','Gita')]

9808778765